.nav-logo {
	width: 220px;
	height: 37px;
	background: url(../img/noaanode_logo.png) no-repeat;
}

/* force-hide the second level branding*/
.navbar .brand {
    display: none;
}

/*background color for top nav*/
.navbar .navbar-inner {	
	background: #327eb8;
}

/* top nav bar*/
.nav-box {
	 background: #ffffff;
}


footer.footer {
	background: #336699;
}

/*css for main page layer list heading*/
section.widget h2 {
	background: #8eb3cf;
}

/*style the side nav menu items similar to theme*/
#slide-pane h2 {
	background: #8eb3cf;
}

/*style page top tab bar in theme
body.search #subnav-tabs a.search, body.upload #subnav-tabs a.upload, body.explore #subnav-tabs a.explore {
	background: #8eb3cf;
}
*/
/*style page top tab bar in theme
body.data #subnav-tabs a, body.maps #subnav-tabs a, body.people #subnav-tabs a, body.documents #subnav-tabs a {
	background: #8eb3cf;
}
*/