/*.nav-logo {
	width: 220px;
	height: 37px;
	background: url(../img/noaanode_logo.png) no-repeat;
}*/

.navbar-brand {
	width: 175px;
	height: 32px;
	background: url(../img/noaanode_logo_smaller.png) no-repeat;
}

.navbar-nav {
	margin-left: 10px;
}
	

/*
.container {
	padding-left: 0px;
}
*/

.navbar-inverse {
	background: #3f4a5f;
}

/*jumbotron: main page splash area*/
.jumbotron {
	background: #a7b5cd;
	
}
.jumbotron a {
	color: #0b0e44;
}

footer.footer {
	background: #eef0f3;
}

/*category filter button in maps, layers*/
nav.filter h4 {
	/*background: #c4dff6;*/
	background: #e1eef9;
	border: 1px solid #CCCCCC;
}
nav.filter h4 a {
	color: #0b0e44;
}

/*button styling, primary and default*/
.btn-primary {
	background: #fbfabb;
	color: #0b0e44;
}

.btn-default {
	background-color: #fbfabb;
}

